.Challenges {
    width: 140%;
    height: 200%;
    max-width: none;
    max-height: none;
    transition: transform 0.3s;
    /* Smooth scaling on hover */
}

.Challenges:hover {
    transform: scale(1.05);
    /* Slightly enlarges the image on hover */
}

.total-breath-text {
    font-size: 24px;
    /* Adjust font size */
    font-weight: 500;
    /* Medium weight */
    color: white;
    /* Text color */
    margin-top: 10px;
    /* Space above the text */
}

.breath-count-number {
    font-size: 48px;
    /* Large font size for the number */
    font-weight: bold;
    /* Bold weight */
    color: white;
    /* Text color */
}

.corg {
    display: flex;
    /* Enable Flexbox */
    position: absolute;
    flex-direction: column;
    /* Stack elements vertically */
    align-items: flex-end;
    /* Align items to the right */
    justify-content: center;
    /* Center items vertically */
    text-align: right;
    /* Align text to the right */
}

.corgText {
    color: white;
    position: absolute;
    font-weight: 700;
    font-size: large;
    left: 150px;
    top: 20px;
    min-width: 150px;
}

.corgText2 {
    color: white;
    position: absolute;
    font-weight: 700;
    font-size: large;
    left: 150px;
    top: 100px;
    min-width: 150px;
}