/* Me.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Include padding and border in element's total width and height */
}

html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    /* Prevent scrolling */
}

.ProfileContainer {
    width: 100%;
    height: 100vh;
    /* Set height to cover the full viewport */
    padding: 20px;
    /* Inner padding can be adjusted as needed */
    background: #ffffff;
    position: relative;
}

.BackButton {
    background: transparent;
    border: none;
    color: #007BFF;
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 16px;
    z-index: 1;
}

.ProfileHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.ProfileImage {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    border: 2px solid #007BFF;
}

.UserName {
    color: #555;
    margin: 10px 0 5px;
}

.UserHandle {
    color: #888;
    margin: 0;
}

.ActivitySection {
    color: #877B8C;
    margin: 10px 0;
    border-top: 1px solid #ccc;
    padding: 10px 0;
}

.ActivityText {
    color: #555;
    font-size: 16px;
    margin: 4px 0;
}

.FriendsSection {
    color: #877B8C;
    margin: 10px 0;
    border-top: 1px solid #ccc;
    padding: 10px 0;
}

.FriendItem {
    color: #877B8C;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.PokeButton {
    background: transparent;
    border: none;
    color: #E13A50;
    cursor: pointer;
}

.AchievementsSection {
    color: #877B8C;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.Achievement {
    background: linear-gradient(90deg, #62BBF4, #58DBF4);
    color: white;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
    flex: 1;
    margin: 0 5px;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Achievement2 {
    background: linear-gradient(90deg, #F2566A, #F56F6A);
    color: white;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
    flex: 1;
    margin: 0 5px;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
}


.AddFriendsButton {
    color: #007BFF;
    background: none;
    cursor: pointer;
    margin-top: 10px;
    border: 1px solid #007BFF;
    border-radius: 30px;
    padding: 5px 10px;
}

.Notification {
    color: #E13A50;
    margin: 10px 0;
    font-weight: bold;
}